*{
    margin: 0;
    padding:0;
}
.titulo{
    display: flex;
    width:100%;
    background-color: brown;
    justify-content: center;
}

.menu{
    width:60%;
    height: 70%;
    background-color: aqua;
    display: flex;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
}
.links{
    width:20%;
    height:70px;
    background-color: blueviolet;
    margin-bottom:10px;
}

.titulo{
    width:100%;
    background-color: yellow;
}
