.flex-container {
    display: flex; 
    

}
  
  .container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  height: auto;
}
header{
    width: 275px;
    height: auto;
    text-align: center;
    border-radius: 10%;
    margin-bottom: 50px;
    background-color:  rgb(219, 219, 219);
   
}
body{
    
    background-color: #c9cbe0;
    font-family: 'Montserrat', sans-serif;
}
#menu{
width: 70%;
height: auto;
text-align: center;
border-radius: 3%;
background-color: rgb(219, 219, 219);
}
#lateral1{
width: 15%;
height: auto;
}
#lateral2{
    width: 15%;
    height: auto;

}
#rodape{
    
    width: 100%;
    height: 100px;
}
